<?xml version="1.0" encoding="iso-8859-1"?>

<PropertyList>
  
  <name>f16config</name>
  <modal type="bool">false</modal>
  <layout>vbox</layout>
  
  <group>
    <layout>hbox</layout>
    
    <text>
      <label>Configuration</label>
      <format>%s Configuration</format>
      <property>sim/description</property>
    </text>
    
    <empty>
      <stretch>1</stretch>
    </empty>
    
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      
      <default>1</default>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
      <binding>
        <command>dialog-apply</command>
      </binding>
    </button>
  </group>

  <hrule/>

  <group>
    <layout>hbox</layout>

    <group>
      <layout>vbox</layout>

    <group>
      <layout>vbox</layout>
        <button>
          <legend>Auto start</legend>
          <binding>
            <command>nasal</command>
            <script>f16.autostart();</script>
          </binding>
        </button>

      <button>
        <legend>Checklists</legend>
        <binding>
          <command>dialog-show</command>
          <dialog-name>checklist</dialog-name>
          <offset>1</offset>
        </binding>
      </button>

      <button>
        <legend>Cold and Dark</legend>
        <binding>
          <command>nasal</command>
          <script>f16.coldndark();</script>
        </binding>
      </button>

      <hrule/>

      <button>
        <legend>Repair damage</legend>
        <binding>
          <command>nasal</command>
          <script>f16.repair();</script>
        </binding>
      </button>

       <button>
        <legend>Repack chute</legend>
        <binding>
          <command>nasal</command>
          <script>
          if (!getprop("gear/gear[0]/wow")) {
            screen.log.write("This is only possible on ground.");
            return;
          }
          if (getprop("f16/chute/done")) {
            setprop("f16/chute/repack", 1);
            setprop("f16/chute/done", 0);
            setprop("f16/chute/enable", 0);
            setprop("f16/chute/force", 2);
            setprop("f16/chute/fold", 0);
            screen.log.write("Drag chute repacked.");
            setprop("f16/chute/repack", 0);
            f16.chuteLoop.stop();
          }
          </script>
        </binding>
      </button>

      <button>
      <row>1</row>
      <col>1</col>
      <legend>Call pushback</legend>
        <binding>
           <command>dialog-show</command>
           <dialog-name>pushback</dialog-name>
           <offset>1</offset>
        </binding>
      </button>
  </group>
</group>

  <vrule/>

  <group>
    <layout>vbox</layout>
    <checkbox>
      <label>Weapons MP discharge messages</label>
      <halign>left</halign>
      <property>payload/armament/msg</property>
      <live>true</live>
      <binding>
          <command>nasal</command>
          <script>
            if(getprop("fdm/jsbsim/gear/unit[0]/WOW")) {
              setprop("payload/armament/msg", !getprop("payload/armament/msg"));
            }
            screen.log.write("Weapons MP messages " ~ (getprop("/payload/armament/msg") ? "ON" : "OFF")  , 0.5, 0.5, 1);</script>
      </binding>
    </checkbox>
  <text><halign>left</halign><label>Enable this feature on ground to let your weapons</label></text>
  <text><halign>left</halign><label>and cannon fire messages be visible over MP.</label></text>
  <text><halign>left</halign><label>WARNING: You will be able to both inflict and receive</label></text>
  <text><halign>left</halign><label>damage from other compatible aircraft.</label></text>
  <text><halign>left</halign><label>Avoid using against players without mutual consent.</label></text>
  <text><halign>left</halign><label>- Blackout/Redout will always be on.</label></text>
  <text><halign>left</halign><label>- Simulation rate will be normal.</label></text>
  <text><halign>left</halign><label>- Emergency altitude increase will be disabled.</label></text>
  <text><halign>left</halign><label>- Payload window will not be available in air.</label></text>
  <text><halign>left</halign><label>- Map traffic and pilot list will be disabled.</label></text>
  </group>
  </group>

  <hrule/>

  <group>
    <layout>vbox</layout>
    <checkbox>
      <label>Wear 1997 G-suit</label>
      <halign>left</halign>
      <property>sim/rendering/redout/new</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>sim/rendering/redout/new</property>
        </binding>
    </checkbox>
  <text><halign>left</halign><label>Enable this to use a newer more capable G-suit.</label></text>
  <text><halign>left</halign><label>Disabled means G-suit year 1979.</label></text>

  <hrule/>
  
	  <button>
		<legend>Ask crew chief to charge JFS accumulators</legend>
		<binding>
		  <command>nasal</command>
		  <script>
			if (!getprop("gear/gear[0]/wow")) {
			  screen.log.write("This is only possible on ground.");
			  return;
			}
			eng.accu_1_psi = eng.accu_psi_max;
			eng.accu_2_psi = eng.accu_psi_max;
			screen.log.write("10 minutes later: Both JFS accumulators pressurized.");
		  </script>
		</binding>
	  </button>

  <empty><stretch>1</stretch></empty>

    <checkbox>
      <label>Activate Ground Power Unit</label>
      <halign>left</halign>
      <property>fdm/jsbsim/elec/sources/external-pwr</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>fdm/jsbsim/elec/sources/external-pwr</property>
        </binding>
    </checkbox>

  <hrule/>
  
  <text><label>Interior engine volume</label></text>
  
  <slider>
     <halign>center</halign>
     <property>f16/sound/helmet-damping</property>
     <min>0</min>
     <max>1</max>
     <step>0.025</step>
     <live>true</live>
     <vertical>false</vertical>
     <pref-height>40</pref-height>
     <pref-width>225</pref-width>
     <binding>
        <command>dialog-apply</command>
     </binding>
  </slider>
                
    <hrule/>
  
    <checkbox>
      <label>Activate Auto ordnance view</label>
      <halign>left</halign>
      <property>/controls/armament/automissileview</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>/controls/armament/automissileview</property>
        </binding>
    </checkbox>
  <text><halign>left</halign><label>Will follow released weapon.</label></text>
  </group>
  
  <empty><stretch>1</stretch></empty>

</PropertyList>
