<?xml version="1.0" encoding="iso-8859-1"?>

<PropertyList>
  
  <name>f16config</name>
  <modal type="bool">false</modal>
  <layout>vbox</layout>
  
  <group>
    <layout>hbox</layout>
    
    <text>
      <label>Configuration</label>
      <format>%s Configuration</format>
      <property>sim/description</property>
    </text>
    
    <empty>
      <stretch>1</stretch>
    </empty>
    
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      
      <default>1</default>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
      <binding>
        <command>dialog-apply</command>
      </binding>
    </button>
  </group>

  <hrule/>

  <group>
    <layout>table</layout>
    <button>
      <row>0</row>
      <col>0</col>
      <legend>Quick autostart</legend>
      <binding>
        <command>nasal</command>
        <script>f16.autostart();</script>
      </binding>
    </button>

    <button>
      <row>0</row>
      <col>1</col>
      <legend>Repair damage</legend>
      <binding>
        <command>nasal</command>
        <script>f16.repair();</script>
      </binding>
    </button>
  </group>

  <hrule/>

  <group>
    <layout>vbox</layout>
    <checkbox>
      <label>Weapons MP discharge messages</label>
      <halign>left</halign>
      <property>payload/armament/msg</property>
      <live>true</live>
      <binding>
          <command>nasal</command>
          <script>
            if(getprop("fdm/jsbsim/gear/unit[0]/WOW")) {
              setprop("payload/armament/msg", !getprop("payload/armament/msg"));
            }
            screen.log.write("Weapons MP messages " ~ (getprop("/payload/armament/msg") ? "ON" : "OFF")  , 0.5, 0.5, 1);</script>
      </binding>
    </checkbox>
  </group>
  <text><halign>left</halign><label>Enable this feature on ground to let your weapons</label></text>
  <text><halign>left</halign><label>and cannon fire messages be visible over MP.</label></text>
  <text><halign>left</halign><label>WARNING: You will be able to both inflict and receive</label></text>
  <text><halign>left</halign><label>damage from other compatible aircraft.</label></text>
  <text><halign>left</halign><label>Avoid using against players without mutual consent.</label></text>
  <text><halign>left</halign><label>- Blackout/Redout will always be on.</label></text>
  <text><halign>left</halign><label>- Simulation rate will be normal.</label></text>
  <text><halign>left</halign><label>- Emergency altitude increase will be disabled.</label></text>
  <text><halign>left</halign><label>- Payload window will not be available in air.</label></text>
  <text><halign>left</halign><label>- Map traffic and pilot list will be disabled.</label></text>

  <hrule/>

  <group>
    <layout>vbox</layout>
    <checkbox>
      <label>Wear 1997 G-suit</label>
      <halign>left</halign>
      <property>sim/rendering/redout/new</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>sim/rendering/redout/new</property>
        </binding>
    </checkbox>
  </group>
  <text><halign>left</halign><label>Enable this to use a newer more capable G-suit.</label></text>
  <text><halign>left</halign><label>Disabled means G-suit year 1979.</label></text>

  <hrule/>
  
  <group>
          <layout>hbox</layout>
          <button>
            <legend>Ask crew chief to charge JFS accumulators</legend>
            <binding>
              <command>nasal</command>
              <script>
                if (!getprop("gear/gear[0]/wow")) {
                  screen.log.write("This is only possible on ground.");
                  return;
                }
                eng.accu_1_psi = eng.accu_psi_max;
                eng.accu_2_psi = eng.accu_psi_max;
                screen.log.write("10 minutes later: Both JFS accumulators pressurized.");
              </script>
            </binding>
          </button>
      </group>
  
  <hrule/>

  <group>
    <layout>vbox</layout>
    <checkbox>
      <label>Activate external power unit</label>
      <halign>left</halign>
      <property>fdm/jsbsim/elec/sources/external-pwr</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>fdm/jsbsim/elec/sources/external-pwr</property>
        </binding>
    </checkbox>
  </group>
  
  <hrule/>
  
  <text><label>Interior engine volume</label></text>
  
  <slider>
                  <halign>center</halign>
                  <property>f16/sound/helmet-damping</property>
                  <min>0</min>
                  <max>1</max>
                  <step>0.025</step>
                  <live>true</live>
                  <vertical>false</vertical>
                  <pref-height>40</pref-height>
                  <pref-width>225</pref-width>
                  <binding>
                    <command>dialog-apply</command>
                  </binding>
                </slider>
                
    <hrule/>
  
    <group>
    <layout>vbox</layout>
    <checkbox>
      <label>Activate Auto ordnance view</label>
      <halign>left</halign>
      <property>/controls/armament/automissileview</property>
      <live>true</live>
        <binding>
          <command>property-toggle</command>
          <property>/controls/armament/automissileview</property>
        </binding>
    </checkbox>
  </group>
  <text><halign>left</halign><label>Will follow released weapon.</label></text>

</PropertyList>
